<div class="bg-cl shadow-lg">
  <div class="container education-section">
    <br />
    <div
      class="d-flex justify-content-center h4 pb-1 text-cl text-decoration-underline"
    >
      <strong>Education</strong>
    </div>
    <br />

    <div class="container ms-4">
      <ul class="timeline-1 text-black">
        <li
          class="event"
          attr.data-date="{{ qualification.date }}"
          *ngFor="let qualification of qualifications"
        >
          <h6 class="text-secondary">
            <strong> {{ qualification.title }} </strong>
          </h6>
          <h6 class="text-secondary">
            <img
              *ngIf="qualification.iconPath"
              class="icon align-middle custom-icon"
              [src]="qualification.iconPath"
              alt=""
            />{{ qualification.subTitle }}
          </h6>
          <ng-container *ngFor="let detail of qualification.details">
            <div class="ps-2">
              <span class="custom-text-tertiary"> - {{ detail }}</span>
            </div>
          </ng-container>
        </li>
      </ul>
    </div>

    <br />
  </div>
</div>
