<div class="bg-cl shadow-lg">
  <div class="container education-section">
    <br />
    <div
      class="d-flex justify-content-center h2  pb-1 text-cl text-decoration-underline"
    >
      <span>Education</span>
    </div>

    <div class="container ms-4">
      <ul class="timeline-1 t h4 cust-text-secondary">
        <li
          class="event"
          attr.data-date="{{ qualification.date }}"
          *ngFor="let qualification of qualifications"
        >
          <h6 class="cust-text-secondary text-cl h4 ">
            <span> {{ qualification.title }} </span>
          </h6>
          <h6 class="cust-text-secondary fs-6 py-1">
            <img
              *ngIf="qualification.iconPath"
              class="icon align-middle custom-icon me-3"
              [src]="qualification.iconPath"
              alt=""
            />{{ qualification.subTitle }}
          </h6>
          <ul class="ps-4" *ngFor="let detail of qualification.details">
              <li class="custom-text-tertiary fs-6 p-1 "> {{ detail }}</li>
          </ul>
        </li>
      </ul>
    </div>

    <br />
  </div>
</div>
