<div class="bg-cl shadsow-lg fs-6 ">
  <div class="contact-section text-center text-light">
    <br />

    <h2>
      <strong>Contact Me </strong>
    </h2>
    <h5 style="color: #bbb">
      <strong> Hire Me!</strong>
    </h5>

    <div class="pt-4 fs-6">
      <div class="d-inline-block">
        Thank you for visiting my profile.&nbsp; I hope you found it engaging.
        &nbsp;
      </div>
      <div class="d-inline-block">Please feel free to contact me at</div>
    </div>

    <div class="d-flex justify-content-center flex-wrap h6 pt-2 text-secondary">
      <div class="py-1 ">
        <a
          href="mailto:sameerkhurd@gmail.com"
          class="text-warning text-decoration-none"
          title="Email to Sameer Khurd"
        >
          <i
            class="bi bi-envelope px-3 text-warning align-middle"
            style="font-size: 1.2rem"
          ></i
          >sameerkhurd@gmail.com</a
        >
        &nbsp; &nbsp; | &nbsp;
      </div>
      <div class="py-1">
        <a
          href="https://www.linkedin.com/in/sameer-khurd"
          class="text-warning text-decoration-none"
          target="_blank"
          title="Open Linkedin profile"
        >
          <i
            class="bi bi-linkedin px-3 text-warning align-middle"
            style="font-size: 1.2rem"
          ></i
          >linkedin.com/in/sameer-khurd</a
        >
      </div>
    </div>

    <br />

    <span class="p-2 pt-4">Other References</span>
    <div class="d-flex justify-content-center flex-wrap h6 text-secondary pt-1">
      <div class="py-1">
        <a
          href="https://github.com/SameerKhurd"
          class="text-warning text-decoration-none"
          target="_blank"
          title="Open Github profile"
        >
          <i
            class="bi bi-github px-3 text-warning align-middle"
            style="font-size: 1.2rem"
          ></i
          >github.com/SameerKhurd</a
        >

        &nbsp; &nbsp; | &nbsp;
      </div>
      <div class="py-1">
        <a
          href="https://medium.com/@sameerkhurd"
          class="text-warning text-decoration-none"
          target="_blank"
          title="Open Medium profile"
        >
          <img
            class="align-middle custom-icon mx-3"
            src="./assets/images/icons/medium-icon-1.png"
            alt=""
          />medium.com/@sameerkhurd</a
        >

        &nbsp; &nbsp; | &nbsp;
      </div>
      <div class="py-1">
        <a
          href="https://leetcode.com/sameerkhurd/"
          class="text-warning text-decoration-none"
          target="_blank"
          title="Open Leetcode profile"
        >
          <img
            class="icon align-middle custom-icon mx-3"
            src="./assets/images/icons/leetcode-icon.png"
            alt=""
          />leetcode.com/sameerkhurd</a
        >
      </div>
    </div>
    <br />
    <br />
  </div>
</div>
