<div
  class="bg-cl"
  style="background-image: url('assets/images/articles/temp.png')"
>
  <div style="backdrop-filter: blur(15px) invert(80%)">
    <div class="container">
      <!-- Introduction -->
      <div class="introduction mx-2">
        <div class="row">
          <div class="col-md-5 fade-in-left">
            <div class="fade-in-left pt-2">
              <div class="h2 p-2 fade-in-left text-rotate-color">
                <div class="display-1 pt-3">Let's</div>
                <div class="display-6 pt-3">create</div>
                <div class="display-4 pt-3">something</div>
                <div class="display-1 pt-3">AMAZING</div>
                <div class="h1 pt-3">together!</div>
                <div class="p-4 w-75 mt-5 bg-rotate-color"></div>
              </div>
            </div>
          </div>

          <div class="col-md-7 text-end fade-in-right">
            <div class="d-flex justify-content-end">
              <div
                class="rounded-circle custom-container profile-img"
                style="overflow: hidden"
              >
                <img
                  class="profile-img"
                  src="./assets/images/profile-picture.png"
                  alt="Profile Picture"
                />
                <div class="overlay">
                  <div class="text fs-1">Hey there! 🙋‍♂️</div>
                </div>
              </div>
            </div>
            <div class="display-2 pb-1 text-cl">
              <strong>Sameer Khurd</strong>
            </div>
            <div class="h4 text-secondary p-1">
              <strong> Full Stack Software Engineer </strong>
            </div>

            <div class="d-flex flex-wrap justify-content-end">
              <div class="badge-custom bg-light rounded-pill shadow-sm mx-1">
                <a
                  href="https://www.credly.com/badges/202bc004-6c00-49fd-b2a7-87d5ab1f23ed/public_url"
                  target="_blank"
                  class="text-secondary"
                  title="Open AWS SAA-03 Certificate"
                >
                  <img
                    class="icon align-middle"
                    src="./assets/images/icons/award-icon.png"
                    alt="Cerificate icon"
                  />AWS Certified Solutions Archirtect (SAA)</a
                >&nbsp;
              </div>
              &nbsp;&nbsp;
              <div
                class="badge-custom bg-light rounded-pill text-secondary shadow-sm mx-1"
                title="M.Tech in Computer Science and Engineering (2021), IIIT-Bangalore"
              >
                <img
                  class="icon align-middle"
                  src="./assets/images/icons/graduate-icon.png"
                  alt="Cerificate icon"
                />M.Tech CS&nbsp; IIIT-Bangalore &nbsp;
              </div>
            </div>

            <div class="d-flex flex-wrap pt-3 justify-content-end">
              <div class="p-1 pe-2" *ngFor="let linkButton of linkButtons">
                <a
                  [href]="linkButton.url"
                  class="btn btn-light shadow link-button rounded-circle"
                  target="_blank"
                >
                  <ng-container *ngIf="linkButton.isImage; else iconTemplate">
                    <img
                      class="custom-icon"
                      [src]="linkButton.iconSrc"
                      [style.height]="linkButton.size"
                      [style.width]="linkButton.size"
                      [style.margin-left]="linkButton.margin"
                      alt=""
                    />
                  </ng-container>
                  <ng-template #iconTemplate>
                    <i
                      class="bi text-secondary"
                      style="font-size: 1.2rem"
                      [ngClass]="linkButton.iconSrc"
                    ></i>
                  </ng-template>
                </a>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />

        <div class="m-2 p-3 bg-light border rounded-3">
          <app-article-section></app-article-section>
        </div>

        <br />
      </div>
    </div>
  </div>
</div>
