.introduction {
  //margin-top: 75px;
  //padding: 16px 50px;
  min-height: 250px;
  font-family: VarelaRound, Arial, Helvetica, sans-serif;
}

.ribbbon-polygon {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 80px),
    50% calc(100% - 40px),
    0 100%
  );
  //clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 50% 100%, 0 calc(100% - 60px));
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  max-width: 125px;

  bottom: -15px;
  right: 0px;
}

.profile-img {
  width: 100%;
  max-width: 300px;
  height: auto;
  transition: all ease 0.3s;
}

.tool-icon {
  width: 32px;
  height: 32px;
  //padding: 4px;
  padding: 3px;
  margin: 4px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.badge-custom {
  padding: 8px 14px;
  font-size: small;
  margin: 8px 0px;
}

.custom-container {
  position: relative;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000080;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.3s ease;
}

.custom-container:hover .overlay {
  width: 100%;
}

.link-button {
  height: 2.6rem;
  width: 2.6rem;
}

.text-rotate-color {
  background: linear-gradient(
    -45deg,
    #ec9913,
    #d54d24,
    #e73c7e,
    #0c485d,
    #0c9172
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 3s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.bg-rotate-color {
  background: linear-gradient(
    -45deg,
    #ec9913,
    #d54d24,
    #e73c7e,
    #0c485d,
    #0c9172
  );
  background-size: 500% auto;
  animation: textShine 3s ease-in-out infinite alternate;
}
