<!-- As a heading -->
<nav
  id="main-navbar"
  class="navbar navbar-expand-lg sticky-top bg-cl shadow-sm custom-font"
>
  <div class="container py-0 my-0">
    <a class="navbar-brand text-secondary" href="#" title="Go to home"
      ><span>
        <img
          class="border border-2 me-2 rounded-pill shadow-lg"
          style="height: 40px; width: 40px"
          src="./assets/images/profile-picture.png"
          alt="Profile Picture"
        /><strong> Sameer Khurd</strong></span
      ></a
    >

    <div class="collapse navbar-collapse ps-5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-secondary">
        <li class="nav-item px-1">
          <a
            class="nav-link active"
            aria-current="page"
            title="Go to home"
            href="#"
            >Home</a
          >
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" title="Go to skills" href="#skills">Skills</a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" title="Go to projects" href="#projects"
            >Projects</a
          >
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" title="Go to experience" href="#experience"
            >Experience</a
          >
        </li>

        <li class="nav-item px-1">
          <a class="nav-link" title="Go to education" href="#education"
            >Education</a
          >
        </li>
        <li class="nav-item px-1">
          <a
            class="px-1 nav-link"
            title="Go to blogs"
            target="_blank"
            href="https://medium.com/@sameerkhurd"
            >Blogs
          </a>
        </li>
        <li class="nav-item px-1">
          <a class="nav-link" title="Go to contact & references" href="#contact"
            >Contact & References</a
          >
        </li>
      </ul>
    </div>

    <a
      class="btn btn-dark px-4 rounded-0 text-rotate-color border-0 shadow-sm"
      title="Go to Contact & References"
      href="#contact"
    >
      <strong>Hire Me!</strong>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div
  data-bs-spy="scroll"
  data-bs-target="#main-navbar"
  data-bs-offset="0"
  class="scrollspy-example"
  tabindex="0"
  style="background-image: url('assets/images/articles/temp.png')"
>
  <div style="backdrop-filter: blur(15px) invert(80%)">
    <div id="#">
      <!-- <app-introduction-section-2></app-introduction-section-2> -->
      <!-- <app-introduction-section-1></app-introduction-section-1> -->
      <app-introduction-section></app-introduction-section>
    </div>

    <div id="skills">
      <app-skills-section></app-skills-section>
    </div>

    <div id="projects">
      <app-project-section></app-project-section>
    </div>

    <div id="experience">
      <app-experience-section></app-experience-section>
    </div>

    <div id="education">
      <app-education-section></app-education-section>
    </div>
    <div id="contact">
      <app-contact-section></app-contact-section>
    </div>
  </div>
</div>

<!-- <div class="row px-2 m-4">
    <div class="col-md-3 m-6 rounded shadow-lg bg-success" style="height: 100vw">
      s
      <div class="p-6">ads</div>
    </div>
    <div class="col-md-9">
      <div class="mx-auto" style="width: 200px">Centered element</div>
    </div>
  </div> -->
