<div class="h5 text-cl p-1">
  Check out my latest articles
  <i class="bi bi-chevron-right align-middle" style="font-size: 1.1rem"></i>
</div>

<div
  class="row m-3 p-2 bg-light border-bottom shadow-sm rounded-3"
  *ngFor="let article of articles"
>
  <div class="col-md-3 p-1">
    <img style="width: 100%" [src]="article.imgSrcUrl" alt="" />
  </div>
  <div class="col-md-9 p-1 px-3">
    <div class="h6">Blog: {{ article.title }}</div>
    <small class="text-secondary lh-1">
      {{ article.desc }}
    </small>
    <div class="pt-2">
      <small>
        <a href="{{ article.url }}" target="_blank" title="Open blog">
          Read full blog<i
            class="bi bi-chevron-right align-middle ps-1"
            style="font-size: 0.8rem"
          ></i>
        </a>
      </small>
    </div>
  </div>
</div>
