<div class="bg-cl shadow-lg">
  <div class="container project-section">
    <br />
    <div
      class="d-flex justify-content-center h4 pb-1 text-cl text-decoration-underline"
    >
      <strong>Projects</strong>
    </div>

    <div class="row">
      <div class="col-md-4 p-3" *ngFor="let project of projects">
        <div class="bg-white rounded-3 border shadow-sm">
          <div class="text-center rounded-top border-bottom border-2">
            <a
              [href]="getLink(project.demoLink)"
              target="_blank"
              title="Open application"
              disabled
            >
              <div
                class="img-fluid custom-image rounded-3"
                [style.background-image]="
                  project.imagePath ? getImagePath(project.imagePath) : ''
                "
              >
                <div class="new text-white">
                  <div class="px-3 p-3 text-white h6 card-text text-start">
                    <strong style="text-decoration: none">{{
                      project.title
                    }}</strong>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="px-3 pt-3 text-secondary h6 card-text">
            <small>
              <p *ngFor="let projectDetail of project.details">
                {{ projectDetail }}
              </p>
            </small>
          </div>

          <div class="px-2 pb-3 card-text lh-sm" *ngIf="project.technologies">
            <div
              class="rounded-pill badge-custom h6 text-secondary d-inline-block"
              *ngFor="let projectTechnologies of project.technologies"
            >
              {{ projectTechnologies }}
            </div>
          </div>
          <div
            class="card-text lh-sm pb-3 px-3"
            *ngIf="project.demoLink || project.githubLink"
          >
            <small>
              <ng-container *ngIf="project.demoLink">
                <a
                  href="{{ project.demoLink }}"
                  target="_blank"
                  title="Open application"
                >
                  Demo<i class="bi bi-box-arrow-up-right ps-1"></i
                ></a>
                &nbsp; | &nbsp;
              </ng-container>
              <a
                href="{{ project.githubLink }}"
                target="_blank"
                title="Go to github repository"
                *ngIf="project.githubLink"
                >Github</a
              >
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
