<div class="bg-cl shadow-lg">
  <div class="container experience-section">
    <br />
    <div
      class="d-flex justify-content-center h4 pb-1 text-cl text-decoration-underline"
    >
      <strong>Experience</strong>
    </div>

    <ng-container *ngFor="let experience of experiences">
      <div class="h5 text-secondary">
        <strong class="text-decoration-underline">
          {{ experience.company }}</strong
        ><span>
          &nbsp;
          <span class="h6 text-secondary">{{ experience.location }}</span></span
        >
      </div>
      <ng-container>
        <ul class="timeline-3">
          <li *ngFor="let role of experience.roles" class="current">
            <div class="row px-1 text-secondary">
              <div class="col-md-8">
                <h6> <strong>{{ role.designation }}</strong></h6>
              </div>
              <div class="col-md-4">
                <span class="badge h6 custom-bg-secondary rounded-pill float-end text-secondary "
                  >{{ role.startMonth }} &nbsp; &ndash; &nbsp;{{
                    role.endMonth
                  }}
                  &nbsp; &nbsp;{{ role.duration }}</span
                >
              </div>
            </div>

            <div class="px-4 text-secondary">
              <ul *ngFor="let roleDetail of role.details">
                <li class="lh-base">{{ roleDetail }}</li>
              </ul>
            </div>
          </li>
        </ul>
      </ng-container>
      <br />
    </ng-container>
  </div>
</div>
